<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="3"
[rowsPerPageOptions]="[5,20,30]" [responsive]="true">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
  <ng-template let-dataVenc="rowData" pTemplate="body">
  {{dataVenc.dataVencimento | date:'dd/MM/y'}}
  </ng-template>
  </p-column>
  <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
  <ng-template let-dataPag="rowData" pTemplate="body">
  {{dataPag.dataPagamento | date:'dd/MM/y'}}
  </ng-template>
  </p-column>
  <p-column field="valor" header="Valor" styleClass="col-valor">
  <ng-template let-lanc="rowData" pTemplate="body">
  <!-- <span [ngStyle]="{color: lanc.tipo === 'DESPESA' ? 'red': 'blue'}">{{lanc.valor}}</span> -->
  <span [style.color]="lanc.tipo === 'DESPESA' ? 'red': 'blue'">{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
  </ng-template>
  </p-column>
  <p-column styleClass="colAcoes">
  <ng-template pTemplate="body">
  <a><button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button></a>
  <button pButton icon="fa-trash"  pTooltip="Excluir" tooltipPosition="bottom"></button>

  </ng-template>
  </p-column>

</p-dataTable>
