<div class=container>
  <div class="ui-g">
   <div class="ui-g-12">
     <h1>Lancamentos</h1>
   </div>

   <div class="ui-g-12 ui-fluid">
     <label >Descricao</label>
     <input type="text" pInputText>
   </div>

   <div class="ui-g-12">
       <label style="display:block">Vencimento</label>
       <input type="text" pInputText>

       <label>Ate</label>
       <input type="text" pInputText>
   </div>
   <div class="ui-g-12">
     <button pButton type="submit" label="Pesquisar"></button>
 </div>
         <!-- <ul>
               <li *ngFor="let l of lancamentos">
                 {{l.pessoa}}
               </li>

         </ul> -->
 <div class="ui-g">
     <div class="ui-g-12">
         <p-dataTable [value]="lancamentos" [paginator]="true" [rows]="3"
                    [rowsPerPageOptions]="[5,20,30]" [responsive]="true">
             <p-column field="pessoa" header="Pessoa"></p-column>
             <p-column field="descricao" header="Descrição"></p-column>
             <p-column field="dataVencimento" header="Vencimento" styleClass="col-data"></p-column>
             <p-column field="dataPagamento" header="Pagamento" styleClass="col-data"></p-column>
             <p-column field="valor" header="Valor" styleClass="col-valor">
               <ng-template let-lanc="rowData" pTemplate="body">
                 <!-- <span [ngStyle]="{color: lanc.tipo === 'DESPESA' ? 'red': 'blue'}">{{lanc.valor}}</span> -->
                 <span [style.color]="lanc.tipo === 'DESPESA' ? 'red': 'blue'">{{lanc.valor}}</span>
               </ng-template>
             </p-column>
             <p-column styleClass="colAcoes">
               <ng-template pTemplate="body">
               <a><button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button></a>
                <button pButton icon="fa-trash"  pTooltip="Excluir" tooltipPosition="bottom"></button>

               </ng-template>
             </p-column>

         </p-dataTable>
     </div>
     <div class="ui-g-12">
         <a><button pButton label="Novo Lançamento"></button></a>
     </div>
   </div>






 </div>
