<!-- <alert type="success">hello</alert>

<mat-form-field>
  <textarea matInput placeholder="Meu componente" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
</mat-form-field>
 -->

 <app-navbar></app-navbar>
 <app-lancamentos-pesquisa></app-lancamentos-pesquisa>


 <!--

    <app-pessoa-cadastro></app-pessoa-cadastro>
    <app-lancamento-cadastro></app-lancamento-cadastro>
    <app-pessoas-pesquisa></app-pessoas-pesquisa>
    <app-form></app-form>
 -->



